.home{
    display: flex;

    .home-container{
     
        flex: 3;
        .widgets{
            display: flex;
            padding: 20px;
            
        }
        .listcontainer{
            box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
-webkit-box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
padding: 20px;
       .listtitle{
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 20px;
        Button{
            font-weight: bold;

            
        }
       }

        }
    }
}